In [2]:
import pandas as pd
import numpy as np

In [5]:
sports_data = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-03-29/sports.csv")
sports_data

C:\Users\ayaz.haque\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,year,unitid,institution_name,city_txt,state_cd,zip_text,classification_code,classification_name,classification_other,ef_male_count,...,partic_coed_women,sum_partic_men,sum_partic_women,rev_men,rev_women,total_rev_menwomen,exp_men,exp_women,total_exp_menwomen,sports
0,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,31,0,345592.0,NaN,345592.0,397818.0,NaN,397818.0,Baseball
1,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,19,16,1211095.0,748833.0,1959928.0,817868.0,742460.0,1560328.0,Basketball
2,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,61,46,183333.0,315574.0,498907.0,246949.0,251184.0,498133.0,All Track Combined
3,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,99,0,2808949.0,NaN,2808949.0,3059353.0,NaN,3059353.0,Football
4,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,9,0,78270.0,NaN,78270.0,83913.0,NaN,83913.0,Golf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132322,2019,800001,Simon Fraser University,NaN,NaN,NaN,4,NCAA Division II with football,NaN,5681,...,NaN,30,21,652950.0,357251.0,1010201.0,652950.0,357251.0,1010201.0,Soccer
132323,2019,800001,Simon Fraser University,NaN,NaN,NaN,4,NCAA Division II with football,NaN,5681,...,NaN,0,19,NaN,381402.0,381402.0,NaN,381402.0,381402.0,Softball
132324,2019,800001,Simon Fraser University,NaN,NaN,NaN,4,NCAA Division II with football,NaN,5681,...,NaN,17,17,281726.0,237917.0,519643.0,281726.0,237917.0,519643.0,Swimming
132325,2019,800001,Simon Fraser University,NaN,NaN,NaN,4,NCAA Division II with football,NaN,5681,...,NaN,0,19,NaN,402135.0,402135.0,NaN,402135.0,402135.0,Volleyball
132326,2019,800001,Simon Fraser University,NaN,NaN,NaN,4,NCAA Division II with football,NaN,5681,...,NaN,24,23,259794.0,241066.0,500860.0,259794.0,241066.0,500860.0,Wrestling